<%- include('partials/header.ejs') %>

    <%- include('partials/navbar.ejs') %>

        <div class="container">
            <h1>Welcome to our website</h1>
            <h3>
                <%= "Hi everyone 👋" %>
            </h3>
            <p>
                This is the homepage of our website. Feel free to explore and discover more about our services and
                products.
            </p>
        </div>

        <%- include('partials/footer.ejs') %>